### Data Description: 
The dataset contains cases from a study that was conducted between 1958 and 1970 at the University of Chicago's Billings Hospital on the survival of patients who had undergone surgery for breast cancer.

In [9]:
# import necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
haberman_df = pd.read_csv("haberman.csv")

In [18]:
haberman_df.head()

   age  year  nodes  status
0   30    64      1       1
1   30    62      3       1
2   30    65      0       1
3   31    59      2       1
4   31    65      4       1

### Attributes Information

* Age of patient at time of operation (numerical)
* Patient's year of operation (year - 1900, numerical)
* Number of positive axillary nodes detected (numerical)
* Survival status (class attribute) 1 = the patient survived 5 years or longer 2 = the patient died within 5 year

### Data Preparation:

In [21]:
haberman_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 4 columns):
age       306 non-null int64
year      306 non-null int64
nodes     306 non-null int64
status    306 non-null int64
dtypes: int64(4)
memory usage: 9.6 KB

#### Observations on Data Preparation:

* No missing data
* All the datatypes are integers and from this point.
*

### High Level Statistics:

In [27]:
haberman_df.describe()

              age        year       nodes      status
count  306.000000  306.000000  306.000000  306.000000
mean    52.457516   62.852941    4.026144    1.264706
std     10.803452    3.249405    7.189654    0.441899
min     30.000000   58.000000    0.000000    1.000000
25%     44.000000   60.000000    0.000000    1.000000
50%     52.000000   63.000000    1.000000    1.000000
75%     60.750000   65.750000    4.000000    2.000000
max     83.000000   69.000000   52.000000    2.000000

In [31]:
haberman_df['status'].value_counts()

1    225
2     81
Name: status, dtype: int64

In [30]:
haberman_df['status'].value_counts(normalize = True)

1    0.735294
2    0.264706
Name: status, dtype: float64

#### Observation of High Level Statistics:

* Patients age lies between 30 and 83 with an average of 52 years
* postive lymph nodes observerd as maximum of 52
* Patients got operated at the age between 58 and 69 with an average of 62
* haberman data set is imbalanced, since the data points of status columns is 75 and 25

### Objective of the problem: